---
name: docker-image-size

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  pull_request:

jobs:
  docker_image_size:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Execute script
        run: |
          python scripts/docker_image_size.py \
            --output-dir data/docker_image_sizes \
            --github-token ${{ github.token }}

      - name: Check and commit results
        if: false
        run: |
          python scripts/check_new_data.py data/docker_image_sizes --commit

      - name: Push changes
        if: false
        run: |
          git push || echo "No changes to push"
