name: measure_workflows

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:

jobs:
  measure_workflows:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure Git user's name and email
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Ensure data-storage branch exists
        run: |
          if ! git ls-remote --exit-code --heads origin data-storage > /dev/null 2>&1; then
            echo "Branch 'data-storage' does not exist. Creating it..."
            git checkout --orphan data-storage
            git reset --hard
            git commit --allow-empty -m "Initialize data-storage branch"
            git push origin data-storage
            git checkout -
          fi

      - name: Checkout data branch
        uses: actions/checkout@v4
        with:
          ref: data-storage
          path: data-storage

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests numpy

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: cache
          key: actions

      - name: Execute script
        run: |
          mkdir -p cache
          python scripts/measure_workflows.py \
            --github_token ${{ github.token }} \
            --data-dir data-storage
          cp github_action_data.json public/

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public/

      - name: Publish
        uses: actions/deploy-pages@v4
